ds-challenge-01/bin/
ds-challenge-01/obj/
ds-challenge-02/bin/
ds-challenge-02/obj/
ds-challenge-03/bin/
ds-challenge-03/obj/
ds-challenge-04/bin/
ds-challenge-04/obj/
ds-challenge-05/bin/
ds-challenge-05/obj/
tests/Challenge1Tests/bin/
tests/Challenge1Tests/obj/
tests/Challenge2Tests/bin/
tests/Challenge2Tests/obj/
tests/Challenge3Tests/bin/
tests/Challenge3Tests/obj/
tests/Challenge4Tests/bin/
tests/Challenge4Tests/obj/
tests/Challenge5Tests/bin/
tests/Challenge5Tests/obj/