ds-challenge-01/bin/
ds-challenge-01/obj/
ds-challenge-02/bin/
ds-challenge-02/obj/
ds-challenge-03/bin/
ds-challenge-03/obj/
ds-challenge-04/bin/
ds-challenge-04/obj/
ds-challenge-05/bin/
ds-challenge-05/obj/